body {
  font-family: 'Montserrat', sans-serif;
}

.player {
  font-size: 3em;
  margin-top: 20%;
  color: rgb(112, 112, 112);
}

.score {
  font-size: 6em;
}

.round {
  margin-top: 25%;
  width: 150px;
  height: auto;
}

button {
  border: none;
  background: none;
  color: rgb(70, 70, 70);
}

#ROUND1,
#ROUND2,
#new-game,
#div-roll,
#div-hold {
  font-size: 2em;
}

#div-dice {
  margin-top: 20%;
  width: 150px;
  height: 150px;
}

#div-roll {
  margin-top: 25%;
}

#player1Turn {
  display: none;
}

#player2Turn {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .player {
    font-size: 2em;
    margin-top: 20%;
  }

  .score {
    font-size: 4em;
  }

  .round {
    margin-top: 25%;
    width: 100px;
    height: auto;
  }

  #ROUND1,
  #ROUND2,
  #new-game,
  #div-roll,
  #div-hold {
    font-size: 1.5em;
  }

  #div-dice {
    margin-top: 20%;
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 768px) {
  .player {
    font-size: 1em;
    margin-top: 20%;
  }

  .score {
    font-size: 2em;
  }

  .round {
    font-size: 0.8em;
    margin-top: 25%;
    width: 100px;
    height: auto;
  }

  #ROUND1,
  #ROUND2,
  #new-game,
  #div-roll,
  #div-hold {
    font-size: 1em;
  }

  #div-dice {
    margin-top: 10%;
    width: 50px;
    height: 50px;
  }

  #div-roll {
    margin-top: 25%;
  }
}